@import "Themes";
@import "Table";


html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  
}
html * {
  box-sizing: border-box;
}
body {
  font-family: $font_2;
  font-weight:100;
  font-size: 14px;
  color: $TEXT;
  background: $BG;margin: 0;
}


/* Layout 
--------------------------*/
.container {
  //margin: $size_3;
  margin-bottom:$size_3;
}
.container.center {
  max-width:900px;
  margin:0px auto $size_3;
}


/* Headings 
--------------------------*/
h1,
h2,
h3,
h4 {
  font-family: $font_1, sans-serif;
  font-weight: $font_weight_2;
  margin:0;
  line-height:1em;
  sup {
    font-size:.75em;
  }
}
h1 {
  font-size: $size_6;
  color: #cecece;
  margin:0 0 .33em;
}
h2 {
  font-weight: $font_weight_2;
  font-size: $size_3;
  color: #3fab90;
}
h3 {
  margin:20px 0 8px;
  font-size: $size_3;
  font-weight:$font_weight_1;
}
.subtitle {
  color: #8984d8;
  display: inline-block;
  margin: 0 0 20px
}
.uppercase {
  text-transform: uppercase;
}

/* Text
----------------------------*/
.center {
  text-align: center;
}
.headline {
  background: #0c9;
  padding: 20px 10px;
  margin: 0;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom, #2a2a2a, #202022);
}
a {
  color: $LINK;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: $LINK_HOVER;
}

ul {
  margin:$size_4 0;
  padding: 0;
}
li {
  list-style:none;
  margin:$size_1 0;
  padding: 0;
}

.spinner {
  text-align: center;
  color: $HEADER_BG;
  margin: 0 auto;
  font-size: 20px;
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
}

.dashboard-header {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  > div > * {
    margin-left:8px
  }
}

.header {
  display: flex;
  font-family: $font_2;
  background: $HEADER_BG;
  align-items: center;
  padding: 0 $size_2;
  .logo {
    font-size: 26px;
    letter-spacing: 0.1em;
    font-family: $font_1;
    font-weight:$font_weight_2;
    margin: $size_1 0;
    margin-right: $size_3;
    letter-spacing: 0.05em;
  }
  a {
    text-decoration: none;
    color: #fff;
    padding: 0 14px;
    margin:$size_1;
    font-size:16px;
    font-weight: $font_weight_1;
    padding:10px;
    border-radius: 4px;;
    &:hover {
      background-color:rgba(0,0,0,.1);
    }
    &.active {
      background-color:rgba(0,0,0,.2);
    }
  }
  .right {
    margin-left: auto;
    display: flex;
    a {
      display: flex;
      svg {
        margin: 2px 6px 0 0;
        height: 11px;
      }
    }
  }
}

.button {
  background: #fff;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  padding: 8px;
  border-radius: 3px;
  font-family: "Nunito", sans-serif;
}
.input {
  background: #111;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  color:#ddd;
  padding: 8px;
  border-radius: 3px;
  font-family: "Nunito", sans-serif;
  margin: 0 0 $size_1;
}
.lizard-form {
  width:240px;
  margin:0 14px;
  .checkbox {
    display:flex;
    align-items: center;
    margin-bottom:8px;
    label {

    }
    label, input {
      width:auto;
      margin:0;
    }
    input {
      margin:0 0 0 auto;
      width:20px;
      height:20px;
      background-color:#0c9;
    }
  }
  button {
    width:100%;
    margin:0 -8px;
  }
}
.form-secondary {
  label {
    margin:20px 0 6px;
    display:block;
  }
  input,select,textarea {
    font-weight: 200;
    border: none;
    line-height: 38px;
    padding: 0 9px;
    width: 240px;
    font-size: 18px;
    font-weight: 400;
    background: rgba(255,255,255,.1);
    color: #333;
    /* border: 1px solid #ddd; */
    margin: 2px 0 0;
    border-radius: 4px;
    font-family: "Nunito";
    margin: 4px 0;
    color: #ffffff9c;
    font-size: 16px;
  }
  select {
    height:38px;
    width:240px;
  }
  button {
    display: inline-block;
    background: #472aa9;
    border-radius: 4px;
    border-width: 0;
    color: #fff;
    margin: 20px 0;
    padding: 10px;
    background: #0c9;
    font-weight: bold;
    color: #fff;
  }
}
.input-b {
  background: #111;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  color:#ddd;
  padding: 8px;
  border-radius: 3px;
  font-family: "Nunito", sans-serif;
  margin: 0 0 $size_1;
}
.input-upload {
  input[type="file"]::file-selector-button {
    background: #fff;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 1.2em;
    padding: 8px;
    border-radius: 3px;
    font-family: "Nunito", sans-serif;
  }
}

.form {
  max-width: 300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #222;
  background:#151515;
  border-radius: 8px;
  padding: 20px 40px;
  &.wide {
    max-width:none;
  }
  h1,
  p {
    text-align: center;
  }
  label {

  }
  input {
    border: 0;
    font-family: $font_2;
    background: #eee;
    height: 40px;
    font-size: 18px;
    
    padding: 0 10px;
    // position: relative;
    // display: inline-flex;
    background-color: transparent;
    color: rgb(238, 238, 238);
    // width: 100%;
    border-width: 0px;
    border-radius: 8px;
    font-size: 16px;
    appearance: none;
    line-height:2em;
    box-shadow: none;
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(59, 26, 90);
    border-radius: 8px;
    &:focus {
      outline: none;
    }
  }
  button {
    display: inline-block;
    background: $HEADER_BG;
    border-radius: 4px;
    border-width: 0;
    color: #fff;
    margin: 20px 0;
    padding: 10px;
    background: #0c9;
    font-weight: bold;
    color: #fff;
  }
  p.red {
    color: #f00;
  }
}

.grid {
  li {
    list-style: none;
  }
}


.table-a {
  td.txt-right {
    text-align:right;
  }
}



.table-main {
  width: 100%;
  border-spacing: 0;
  
  thead {
    width: 100%;
    background-color: $HEADER_BG;
    color: #fff;
    font-weight: bold;
  }
  tbody {
    background: $BG_B;
    width: 100%;
  }
  th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    margin:0;
  }
  td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    margin:0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    input {
      width: 100%;
      box-sizing: border-box;
    }
    &.green {
      color:#0c9;
    }
    &.red {
      color:red;
    }
  }
}


.tableForm {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0 0 $size_5;
  padding:$size_2;
  font-size:18px;
  background:rgba(0,0,0,.65);
  text-align: center;
  > div {
    padding:10px $size_1 $size_2;
    label {
      display: block;
      color:#888
    }
  }
  input {
    text-align: center;
    font-family: $font_2;
    font-size:18px;
    width:160px;
    box-sizing: border-box;
    background: none;
    color: #fff;
    padding: 6px 0 5px;
    border: 1px solid rgb(49, 148, 121);
    border-width: 0 0 1px;
    // border-radius: $size_2;
    padding: 0 $size_2;
    line-height:2.4em;
  }
}


.chart-preview {
  position: relative;
  width:100%;
  background:#111;
  max-height: 0;
  &.active {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }
}


.new-chart {
  background:#111;
  height:360px;
  width:100%;
  // width:800px;
  margin:0 0 40px;
  border-radius:20px;
  
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  margin-top:2px;
}
.sidebar {
  border-radius:0 10px 0 0 ;
  flex-grow: 1;
  background:$HEADER_BG_MUTE;
  // background:rgb(91, 46, 140);
  padding: 22px 14px;
  margin-left:0;
  .logo {
      display:none;
      font-family:$font_1;
      font-size:28px;
      font-weight:$font_weight_2;
      &:hover {
          color:#fff;
      }
  }
  a, button {
      display:block;
      border:none;
      display:flex;
      align-items: center;
      padding:10px;
      font-size:14px;
      border-radius:8px;
      color:#fff;
      position:relative;
      span {
          margin-right:10px;
          color:rgba(255,255,255,.4);
      }
      &:hover {
          background:rgba(0,0,0,.1);
          color:#fff;
      }
      &.active {
          background:rgba(0,0,0,.2);
          color:#fff;
      }
      input {
        opacity:0;
        position:absolute;
        background:#0c9;
        width:100%;
        height:100%;
      }
  }
  hr {
    border:none;
    border-bottom:1px solid rgba(255,255,255,.2);
    margin:20px 0;
  }
}
.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  padding:0;
  .inner {
      max-width:1100px;
      margin:60px auto 0;
  }
}

.viper-textbox {
  display:flex;
  font-size:18px;
  // border:1px solid rgba(255,255,255,.1);
  padding:0 0 20px 0;
  section {
    border-right:1px solid rgba(255,255,255,.1);
    margin-right:2em;
    padding-right:2em;
  }
  * {
    margin:0;
  }
  p {
    font-size:2em;
  }
}