.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 3rem;
  align-items: center;
  .avatar {
    border-radius: 50%;
    background: #eee;
    height: 16rem;
    width: 16rem;
  }
}
