.table-a {
    min-width: 640px;
    border:1px solid rgba(255,255,255,.08);
    border-radius:$size_1;
    border-spacing: 0;
    overflow: hidden;
    margin:0 auto;

    thead tr {
        background:rgba(0,0,0,.4);
        th {
            color:#eee;
            padding:14px 24px;
            font-size:15px;
        }
    }

    th,td {
        padding:10px 24px;
        text-align: left;
        &.rt {
            text-align: center;
            width:50px;
        }
    }
    td:first-child {
        color:#ddd;
        font: weight $font_weight_2;
    }
    td {
        color:#ababab;
    }

    tr:nth-child(even) {
        background:rgba(0,0,0,.1);
    }
    
}