.table-a {
    width:100%;
    border:1px solid rgba(255,255,255,.08);
    border-radius:$size_1;
    border-spacing: 0;
    overflow: hidden;
    margin:40px 0;
    thead tr {
        background:rgba(0,0,0,.4);
        th {
            color:#eee;
            padding:14px 24px;
            font-size:15px;
            text-align: left;
        }
    }
    tbody {
        th,td {
            padding:10px 24px;
        }
        td:first-child {
            color:#ddd;
            font-weight: $font_weight_2;
        }
        tr.child td:first-child {
            color:#ababab;
            font-weight: $font_weight_2;
        }
        td {
            color:#ababab;
            width:50px;
        }
        tr.child, tr.child:hover {
            background:rgba(0,0,0,.2); 
        }
        tr {
            transition: background-color 0.2s linear;
        }
        tr:hover {
            background:rgba(0,0,0,.15); 
            // background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,.1) 100%);
        }
        tr.open {
            background:rgba(0,0,0,.25); 
        }
    }
    
}


 